body,td,th {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
}
a {
    color: #C1010E;
}
a:link {
    text-decoration: none;
    color: #D13131;
}
a:visited {
    text-decoration: none;
    color: #D13131;
}
a:hover {
    text-decoration: underline;
    color: #666666;
}
a:active {
    text-decoration: none;
    color: #D13131;
}
.styl7 {
    font-size: 14px;
    font-weight: bold;
}
.styl14 {font-size: small}
.styl17 {color: #B00003}
body {
    margin-left: 0px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 0px; 
}
.styl24 {font-size: 14px}
.styl25 {font-size: 19px}
.styl30 {font-size: 12px}
.styl37 {color: #D13131}
.styl38 {font-size: 12px; color: #666666; }
.styl42 {
    color: #B00003;
    font-weight: bold;
    padding-left: 50px;
    margin-top: 10px;
}
.styl43 {font-size: 13px}
.styl45 {font-size: 11px; color: #666666; }
.styl50 {color: #666666}
.styl108 a {text-decoration: #666666}
.styl108 a:link {text-decoration: #666666}
.styl108 a:visited {text-decoration: #666666}
.styl108 a:active {text-decoration: #666666}
.styl108 a:hover {text-decoration: underline; color: #FBF397;}

#kolumna1 {
    float:left;
    width: 50%;
}
#kolumna2 {
    float:right;
    width: 50%;
}
.top-line{
    width: 100%;
    height: 50px; 
    padding: 0px;
    border-spacing: 0px;
}
.content{
    width: 800px;
    height: 497px;
    border: 0px;
    padding: 7px;
    border-spacing: 5px;
}
ul li:before{ 
    content:":."; 
    position:relative;
    left:-5px;
}
ul li{ 
    list-style: none;
    text-indent:-5px; 
}
.index-main{
    border-color: #666666;
    background-color: #dbdbdb;
    vertical-align: top;
    text-align: left; 
}
.top-left-menu{
    width: 180px;
    height: 125px;
    vertical-align: top;
    text-align: left;
}
.start-gif{
    width:52px;
    height:25px;
    text-align: left;
}
.center-field{
    vertical-align: top;
    border-color: #666666;
    background-color: #FBF397;
}
.lama-kuchary{
    padding-top: 3px;
}
